*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.join-top {
    border-bottom: 1px solid lightblue;
}

.join-top > h1 {
    border-left: 3px solid lightgrey;
    padding-left: 5px;
    margin-bottom: 5px;
}

.join-top > h5 {
    padding: 10px 0px;
}

.join-info {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    margin-top: 10px;
}

.join-input {
    display: flex;
    justify-content: center;
}

.join-detail {
    padding: 5px 0px;
    border-bottom: 1px solid lightslategray;
    height: 5rem;
    display: flex;
    width: 45vw;
    align-items: center;
}

.join-detail-top {
    border-top: 1px solid lightslategray;
}

.join-bottom {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

input {
    width: 50%!important;
    height: 50%;
    margin: 0px 5px!important;
}

.idchk {
    height: 50%;
}