*{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-top > h1 {
    text-align: center;
}

.login-body {
    width: 30vw;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.login-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.id-save {
    margin: 10px 0px;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.login-bottom {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-bottom > div {
    width: 50%;
}

.login-bottom-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.btns {
    display: flex;
    flex-direction: column;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-footer {
    justify-content: space-between!important;
}

.err-msg {
    font-size: small;
    font-weight: bold;
    text-align: center;
}