*{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    width: 80%;
    border-bottom: 1px solid #DFDFDE;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.detail {
    display: flex;
    margin: 10px 0px;
    justify-content: space-around;
    width: 80%;
}

.ctnt {
    min-height: 50vh;
    width: 80%;
    display: flex;
    border: 1px solid #DFDFDE;
    margin: 10px 0px;
}

.btns {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.hidden {
    display: none!important;
}

.file {
    display: flex;
    flex-direction: column;
}

.attached-file {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.attached-file > h5 {
    font-size: smaller;
    font-weight: bold;
    margin: 0;
}

.attached-file > span {
    margin-left: 5px;
}

.attached-file > span:hover {
    cursor: pointer;
}

.reply-elem {
    width: 80%;
    margin: 2rem 0px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DFDFDE;
}

.reply-elem > input {
    flex : 8;
}

.reply-elem > button {
    margin-left: 5rem;
    flex : 1;
}

.mod {
    background-color: #F6FFA4!important;
    border-color: #F6FFA4!important;
}

.del {
    background-color: #FFA8A8!important;
    border-color: #FFA8A8!important;
    color: black!important;
}

.reply-table {
    width: 80%!important;
}

.reply-name-elem {
    width: 20%;
}

.reply-ctnt-elem {
    width: 70%;
}

.reply-del-btn {
    font-size: smaller!important;
    padding: 3px!important;
}

.reply-ctnt {
    word-break: break-all;
}