/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.user-greet {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.logout {
    display: flex;
    justify-content: end;
}

.board-top > h1 {
    text-align: center;
    margin-bottom: 30px;
}

body{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*height: 100%;*/
}

.search {
    display: flex;
    width: 90%;
    align-items: center;
}

.search-date {
    flex: 1;
}

.search-elem {
    display: flex;
    flex: 1.8;
}

.search-option {
    width: 30%!important;
    margin-right: 5px;
}

.search-btn {
    margin-left: 10px;
    width: 20%;
}

.count-search {
    /*width: 80vw;*/
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

th {
    /*background-color: #DDDDDD!important;*/
    text-align: center!important;
}

td {
    text-align: center;
    padding: 5px 0px;
}

.toWrite {
    margin: 10px;
    display: flex;
    justify-content: end;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    margin: 0;
    margin-right: 5px;
}

.prev:hover {
    cursor: pointer;
}

.next {
    margin: 0;
    margin-left: 5px;
}

.next:hover {
    cursor: pointer;
}

.pageNum {
    margin: 5px;
}

.bold {
    font-weight: bolder;
}

.title {
    width: 60%;
}

.rdt {
    width: 10%;
}

tr:hover {
    background-color: #EEEEEE;
}

.table-body>.title:hover {
    cursor: pointer;
}

.pageNum:hover {
    cursor: pointer;
}

.pageNum > a {
    color: black!important;
}

.prev > a {
    color: black!important;
}

.next > a {
    color: black!important;
}

.active >a {
    background-color: #cfe2ff!important;
    border-color: #cfe2ff!important;
}

.write-btn {
    background-color: #cfe2ff!important;
    border-color: #cfe2ff!important;
    color: black!important;
}

.mypage-btn {
    margin-right: 5px;
}

.profile-img {
    width: 2.5rem;
    height: 2.5rem;
}

.profile-img:hover {
    cursor: pointer;
}

