.write-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.write-top>div:first-child {
    width: 80%;
}

.write-top>div:last-child {
    display: flex;
    justify-content: end;
    width: 80%;
}

.write-top > div > h1 {
    border-left: 3px solid lightslategray;
    border-bottom: 1px solid lightslategray;
}

table {
    border: 1px solid lightslategray;
    border-collapse: collapse;
    width: 80%;
}

td {
    border: 1px solid lightslategray;
}

.write-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.write-bottom {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.write-bottom > div {
    width: 80%;
    display: flex;
    justify-content: space-between;
}